# ================================
# Docker Compose 빌드 인수
# ================================
BO_BASE_IMAGE=
BO_SKIP_SYS_DEPS=
BO_FE_NODE_BASE_IMAGE=
BO_FE_NGINX_BASE_IMAGE=
BO_FE_SKIP_NPM_INSTALL=

# ================================
# Harbor
# ================================
HARBOR_URL=

# ================================
# MongoDB
# ================================
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
APP_DB_NAME=
APP_DB_USER=
APP_DB_PASS=
MONGO_DATA_PATH=

# ================================
# Pilot
# ================================
PILOT_ENABLED=
GITHUB_TOKEN=
GITHUB_WEBHOOK_SECRET=
